api = "0.7"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/pnpm"
  id = "paketo-buildpacks/pnpm"
  name = "Paketo Buildpack for Pnpm"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pnpm/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default_versions]
    pnpm = "10.*"

  [[metadata.dependencies]]
    checksum = "sha256:042fdc373cccacbc9a305c7578bd13862512760bc7ed47c0edc1e3bd7bdc35e1"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.18.3:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    purl = "pkg:generic/pnpm@10.18.3?checksum=sha256:042fdc373cccacbc9a305c7578bd13862512760bc7ed47c0edc1e3bd7bdc35e1&download_url=https://github.com/pnpm/pnpm/releases/download/v10.18.3/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.18.3/pnpm-linux-x64"
    source-checksum = "sha256:042fdc373cccacbc9a305c7578bd13862512760bc7ed47c0edc1e3bd7bdc35e1"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.18.3/pnpm-linux-x64"
    version = "10.18.3"

  [[metadata.dependencies]]
    checksum = "sha256:3685d25c7160ad65f00e26aa14f0a28667c3c5facdd8ad3fb5cb9651c8c2ca46"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.19.0:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    purl = "pkg:generic/pnpm@10.19.0?checksum=sha256:3685d25c7160ad65f00e26aa14f0a28667c3c5facdd8ad3fb5cb9651c8c2ca46&download_url=https://github.com/pnpm/pnpm/releases/download/v10.19.0/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.19.0/pnpm-linux-x64"
    source-checksum = "sha256:3685d25c7160ad65f00e26aa14f0a28667c3c5facdd8ad3fb5cb9651c8c2ca46"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.19.0/pnpm-linux-x64"
    version = "10.19.0"

  [[metadata.dependency-constraints]]
    constraint = "10.*"
    id = "pnpm"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "*"
