api = "0.7"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/pnpm"
  id = "paketo-buildpacks/pnpm"
  name = "Paketo Buildpack for pnpm"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pnpm/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default_versions]
    pnpm = "10.*"

  [[metadata.dependencies]]
    checksum = "sha256:e1cab530ea8252eb90e4add71d95838fd6f2656e6977f120df5ecb6f5b2822e0"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.13.1:*:*:*:*:*:*:*"
    purl = "pkg:generic/pnpm@10.13.1?checksum=sha256:e1cab530ea8252eb90e4add71d95838fd6f2656e6977f120df5ecb6f5b2822e0\u0026download_url=https://github.com/pnpm/pnpm/releases/download/v10.13.1/pnpm-linux-x64"
    id = "pnpm"
    name = "pnpm"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.13.1/pnpm-linux-x64"
    source-checksum = "sha256:e1cab530ea8252eb90e4add71d95838fd6f2656e6977f120df5ecb6f5b2822e0"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy", "*"]
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.13.1/pnpm-linux-x64"
    version = "10.13.1"

  [[metadata.dependencies]]
    checksum = "sha256:9ee4e9c534db2d52b8aa4f953e53b512cb0772cdf5fe90faa13ea08f1f3fdffb"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.13.0:*:*:*:*:*:*:*"
    purl = "pkg:generic/pnpm@10.13.0?checksum=sha256:9ee4e9c534db2d52b8aa4f953e53b512cb0772cdf5fe90faa13ea08f1f3fdffb\u0026download_url=https://github.com/pnpm/pnpm/releases/download/v10.13.0/pnpm-linux-x64"
    id = "pnpm"
    name = "pnpm"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.13.0/pnpm-linux-x64"
    source-checksum = "sha256:9ee4e9c534db2d52b8aa4f953e53b512cb0772cdf5fe90faa13ea08f1f3fdffb"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy", "*"]
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.13.0/pnpm-linux-x64"
    version = "10.13.0"

  [[metadata.dependency-constraints]]
    constraint = "10.*"
    id = "pnpm"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "*"

