api = "0.7"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/pnpm"
  id = "paketo-buildpacks/pnpm"
  name = "Paketo Buildpack for Pnpm"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pnpm/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default_versions]
    pnpm = "10.*"

  [[metadata.dependencies]]
    checksum = "sha256:d25defac8655080add042decfa94b5c3b28cafbb048edd4de6dc2c41f9220418"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.20.0:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    purl = "pkg:generic/pnpm@10.20.0?checksum=sha256:d25defac8655080add042decfa94b5c3b28cafbb048edd4de6dc2c41f9220418&download_url=https://github.com/pnpm/pnpm/releases/download/v10.20.0/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.20.0/pnpm-linux-x64"
    source-checksum = "sha256:d25defac8655080add042decfa94b5c3b28cafbb048edd4de6dc2c41f9220418"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.20.0/pnpm-linux-x64"
    version = "10.20.0"

  [[metadata.dependencies]]
    checksum = "sha256:5b937dc0f043dc0224caf3bc607cc2ec17af72e10d85c8d85cffb03c1c13a4c0"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.21.0:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    purl = "pkg:generic/pnpm@10.21.0?checksum=sha256:5b937dc0f043dc0224caf3bc607cc2ec17af72e10d85c8d85cffb03c1c13a4c0&download_url=https://github.com/pnpm/pnpm/releases/download/v10.21.0/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.21.0/pnpm-linux-x64"
    source-checksum = "sha256:5b937dc0f043dc0224caf3bc607cc2ec17af72e10d85c8d85cffb03c1c13a4c0"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.21.0/pnpm-linux-x64"
    version = "10.21.0"

  [[metadata.dependency-constraints]]
    constraint = "10.*"
    id = "pnpm"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "*"
