api = "0.7"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/pnpm"
  id = "paketo-buildpacks/pnpm"
  name = "Paketo Buildpack for Pnpm"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pnpm/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default_versions]
    pnpm = "10.*"

  [[metadata.dependencies]]
    checksum = "sha256:6730cd0d7a247133e971b8d0b85d6d5de5b9d6a05fc099b2d72540b36725b328"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.22.0:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    purl = "pkg:generic/pnpm@10.22.0?checksum=sha256:6730cd0d7a247133e971b8d0b85d6d5de5b9d6a05fc099b2d72540b36725b328&download_url=https://github.com/pnpm/pnpm/releases/download/v10.22.0/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.22.0/pnpm-linux-x64"
    source-checksum = "sha256:6730cd0d7a247133e971b8d0b85d6d5de5b9d6a05fc099b2d72540b36725b328"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.22.0/pnpm-linux-x64"
    version = "10.22.0"

  [[metadata.dependencies]]
    checksum = "sha256:6e5f25fad67ba1b4fe1050c8992ced33ce8689245a834ddec149940a20c2be5c"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.23.0:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    purl = "pkg:generic/pnpm@10.23.0?checksum=sha256:6e5f25fad67ba1b4fe1050c8992ced33ce8689245a834ddec149940a20c2be5c&download_url=https://github.com/pnpm/pnpm/releases/download/v10.23.0/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.23.0/pnpm-linux-x64"
    source-checksum = "sha256:6e5f25fad67ba1b4fe1050c8992ced33ce8689245a834ddec149940a20c2be5c"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.23.0/pnpm-linux-x64"
    version = "10.23.0"

  [[metadata.dependency-constraints]]
    constraint = "10.*"
    id = "pnpm"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "*"
