api = "0.7"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/pnpm"
  id = "paketo-buildpacks/pnpm"
  name = "Paketo Buildpack for Pnpm"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pnpm/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default_versions]
    pnpm = "10.*"

  [[metadata.dependencies]]
    checksum = "sha256:c9548da52cba52401a8419e1dbc135e2206f74508c18e50ef1ce68e70e7cbf02"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.15.0:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    purl = "pkg:generic/pnpm@10.15.0?checksum=sha256:c9548da52cba52401a8419e1dbc135e2206f74508c18e50ef1ce68e70e7cbf02&download_url=https://github.com/pnpm/pnpm/releases/download/v10.15.0/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.15.0/pnpm-linux-x64"
    source-checksum = "sha256:c9548da52cba52401a8419e1dbc135e2206f74508c18e50ef1ce68e70e7cbf02"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.15.0/pnpm-linux-x64"
    version = "10.15.0"

  [[metadata.dependencies]]
    checksum = "sha256:d4ac2a22e45b50da881855ea6a3734cf83f984eb5fba7163c3f07492fa43c2b0"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.15.1:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    purl = "pkg:generic/pnpm@10.15.1?checksum=sha256:d4ac2a22e45b50da881855ea6a3734cf83f984eb5fba7163c3f07492fa43c2b0&download_url=https://github.com/pnpm/pnpm/releases/download/v10.15.1/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.15.1/pnpm-linux-x64"
    source-checksum = "sha256:d4ac2a22e45b50da881855ea6a3734cf83f984eb5fba7163c3f07492fa43c2b0"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.15.1/pnpm-linux-x64"
    version = "10.15.1"

  [[metadata.dependency-constraints]]
    constraint = "10.*"
    id = "pnpm"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "*"
