api = "0.7"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/pnpm"
  id = "paketo-buildpacks/pnpm"
  name = "Paketo Buildpack for Pnpm"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/pnpm/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default_versions]
    pnpm = "10.*"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:6271f5049741328bfa3a01be07740f440c35f650fb0b78e60cae29a5d4097de5"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.29.0:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    os = "linux"
    purl = "pkg:generic/pnpm@10.29.0?checksum=sha256:6271f5049741328bfa3a01be07740f440c35f650fb0b78e60cae29a5d4097de5&download_url=https://github.com/pnpm/pnpm/releases/download/v10.29.0/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.29.0/pnpm-linux-x64"
    source-checksum = "sha256:6271f5049741328bfa3a01be07740f440c35f650fb0b78e60cae29a5d4097de5"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.29.0/pnpm-linux-x64"
    version = "10.29.0"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:df728857c759d9d355b245ae889aee1c54a634d51486e76d1ecaaaead26569b2"
    cpe = "cpe:2.3:a:pnpm:pnpm:10.29.1:*:*:*:*:*:*:*"
    id = "pnpm"
    name = "pnpm"
    os = "linux"
    purl = "pkg:generic/pnpm@10.29.1?checksum=sha256:df728857c759d9d355b245ae889aee1c54a634d51486e76d1ecaaaead26569b2&download_url=https://github.com/pnpm/pnpm/releases/download/v10.29.1/pnpm-linux-x64"
    source = "https://github.com/pnpm/pnpm/releases/download/v10.29.1/pnpm-linux-x64"
    source-checksum = "sha256:df728857c759d9d355b245ae889aee1c54a634d51486e76d1ecaaaead26569b2"
    stacks = ["io.buildpacks.stacks.bionic", "io.buildpacks.stacks.jammy"]
    strip-components = 1
    uri = "https://github.com/pnpm/pnpm/releases/download/v10.29.1/pnpm-linux-x64"
    version = "10.29.1"

  [[metadata.dependency-constraints]]
    constraint = "10.*"
    id = "pnpm"
    patches = 2

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.buildpacks.stacks.jammy"

[[stacks]]
  id = "*"
